/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family:
    var(--sherpa-fonts-context-default, "Open Sans"), Arial, Helvetica,
    sans-serif;
  font-size: var(--sherpa-fonts-scale-base, 14px);
  color: var(--sherpa-text-default-body, #111);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label,
select,
textarea {
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  padding-inline-start: 0;
}
